**/_deps/
**/.vscode/
/lib
**/gens/
**/CMakeFiles/
/build/
nodes.txt
**/CMakeCache.txt
**/cmake_install.cmake
**/http_archives/
/protos/
**/Makefile
**/Makefile.in
**/*.a
**/*.pb.h
**/*.pb.cc
.[0-9]*.txt
**/.DS_Store
